img{
    max-width: 700px;
max-height: 700px;
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}
p{
    font-size: 25px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
li{
    font-size: 25px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}