body, h1, h2, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* Set a background color and font styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the header */
header {
  background-image: url("header\ background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  background-position: center;
  background-size: 100%;
  color: #ffd500;
  padding: 20px;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
 max-width: 500px;
 max-height: 500px;
 border-radius: 40%;
}

header h1 {
  font-size: 28px;
  margin-top: 10px;
}

/* Style the main content */
main {
  max-width: 800px;
  color:whitesmoke;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e2e2e2;
}

p {
  font-size: 25px;
  margin-bottom: 20px;
  color:#e99d40
}


li {
font-size: 20px; 
  margin-bottom: 5px;
  color: #fff;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 2px;
  text-align: center;
}

footer p {
  font-size: 25px;
  color: white;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}